body {
	background: url('../assets/symphony.png');
}

#dashboard-container {
	
	width: 900px;
	margin: 100px auto;
	text-align: center;
}

h2 {
	
	font-weight: bold;
	color: #D9534F;
}

.button-toolbar {
	
	margin-top: 20px;
	margin-bottom: 40px;
}

.button-toolbar > a {
	
	width: 200px;
	font-weight: bold;
	padding-bottom:20px;
	text-align: center;
	color: #D9534F;
	margin: 20px;
	transition: all 0.5s ease;
}

.button-toolbar > a > img {
	
	font-size: 40px;
	display: inline;
	text-align: center;
	margin: 20px;
}

@keyframes shake {
	
    0% {
    	transform: rotate(0deg);
   	}
    25% {
    	transform: rotate(-15deg);
   	}
   	75% {
   		transform: rotate(-15deg);
   	}
   	100% {
   		transform: rotate(0deg);
   	}
}

.button-toolbar > a:hover > img {
	
	animation-name: shake;
	animation-duration: 1s;
	animation-iteration-count: 3;
}