body {
	background: url('../assets/symphony.png');
}

#dashboard-container {
	
	width: 600px;
	margin: 100px auto;
	text-align: center;
}

h2 {
	
	font-weight: bold;
	color: #D9534F;
}

.button-toolbar {
	
	margin-top: 20px;
	margin-bottom: 40px;
}

.button-toolbar > a {
	
	width: 200px;
	font-weight: bold;
	padding-bottom:20px;
	text-align: center;
	color: #D9534F;
	margin: 20px;
}

.button-toolbar > a > img {
	
	font-size: 40px;
	display: inline;
	text-align: center;
	margin: 20px;
}