@keyframes spin {
    0% { transform: translateZ(-100px) rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
    16% { transform: translateZ(-100px) rotateX(180deg) rotateY(180deg) rotateZ(0deg); }
    33% { transform: translateZ(-100px) rotateX(360deg) rotateY(90deg) rotateZ(180deg); }
    50% { transform: translateZ(-100px) rotateX(360deg) rotateY(360deg) rotateZ(360deg); }
    66% { transform: translateZ(-100px) rotateX(180deg) rotateY(360deg) rotateZ(270deg); }
    83% { transform: translateZ(-100px) rotateX(270deg) rotateY(180deg) rotateZ(180deg); }
    100% { transform: translateZ(-100px) rotateX(360deg) rotateY(360deg) rotateZ(360deg); }
}

body {
	margin: auto;
	width: 100%;
	background: url('../assets/symphony.png');
}

#board {
	position: absolute;
	top:0px;
	height:100%;
	width: 100%;
}

#waiting-screen {
	
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 30px;
	color: lightgrey;
	padding-top: 200px;
	background: url('../assets/symphony.png');
}

#waiting-screen > .progress{
	
	margin: 20px auto;
	width: 300px;
}

#game-header {
	
	background: lightgrey;
}

#player-view {
	
	text-align: left;
	padding: 10px;
	font-size: 16px;
	width: 50%;
	float: left;
	padding-left: 30px;
	padding-top: 20px;
}

#actions-view {
	
	padding: 15px;
	width: 50%;
	float: left;
	text-align:right;
}

#actions-view .btn {
	
	text-align: center;
	margin-left: 20px;
}

#cards-list-view {
	
	margin-top: 30px;
	text-align: center;
}

.wazabi-card {
	
	width: 150px;
	height: 200px;
	border: 5px solid grey;
	margin-left: 20px;
	background: #ffffff;
	display: inline-block;
	overflow-y: auto;
	cursor: pointer;
}

.wazabi-card > .card-cost {
	
	padding: 10px;
	background: lightgrey;
}

.wazabi-card > .card-title {
	
	padding: 10px;
	font-weight: bold;
	text-align:center;
}

.wazabi-card > .card-description {
	
	padding: 10px;
	font-style: italic;
}

#wazabi-skip-tile {
	
	border: 1px solid lightgrey;
	margin: 20px auto;
	padding: 20px;
	width: 400px;
	text-align: center;
	display: none;
}

#dices-list-view {
	
	text-align: center;
}

#dices-list-view:hover .wazabi-dice, .wazabi-dice:hover {
	
	animation: spin 5s infinite linear;
}

.wazabi-dice {
	background: #D9534F;
	display: inline-block;
    margin-top: 75px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 20px;
    margin-left: 30px;
    font-weight: bold;
    transform-style: preserve-3d;
    color: #fff;
    border-radius: 5px;
}

.side {
	background: #D9534F;
	position: absolute;
    height: 50px;
    width: 50px;
    box-shadow:inset 0 0 7px #BA4844;
    cursor: pointer;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
}

.wazabi-dice .cover, .wazabi-dice .inner {	
    box-shadow: none;
}
.wazabi-dice .cover {
	
    border-radius: 0;
    transform: translateZ(0px);
}
.wazabi-dice .cover.x {
	
    transform: rotateY(90deg);
}
.wazabi-dice .cover.z {
	
    transform: rotateX(90deg);
}
.wazabi-dice .front  {
	
    transform: translateZ(25px);
}
.wazabi-dice .back {
	
    transform: rotateX(-180deg) translateZ(25px);
}
.wazabi-dice .right {
	
    transform: rotateY(90deg) translateZ(25px);
}
.wazabi-dice .left {
	
    transform: rotateY(-90deg) translateZ(25px);
}
.wazabi-dice .top {
	
    transform: rotateX(90deg) translateZ(25px);
}
.wazabi-dice .bottom {
	
    transform: rotateX(-90deg) translateZ(25px);
}


#challengers-list-view {

	margin-top: 100px;
	text-align: center;
}

.challenger-profile {
	
	width: 200px;
	border: 3px solid grey;
	margin-left: 30px;
	padding: 10px;
	text-align: center;
	background: #ffffff;
	display: inline-block;
}

.challenger-dices {
	
	text-align: center;
	padding-top: 10px;
}

.challenger-about {
	
	font-weight: bold;
	margin: 10px;
	margin-top: 15px;
	font-size: 16px;
}

.challenger-about > i {
	
	font-size: 20px;
}

.mini-dice {
	
	display: inline;
	margin: 5px;
	text-align: center;
	font-size: 20px;
}

#finishing-screen {
	
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 30px;
	color: lightgrey;
	padding-top: 200px;
	background: url('../assets/symphony.png');
}