#board {
	
}

#waiting-screen {
	
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 30px;
	color: lightgrey;
	padding-top: 200px;
}

#player-view {
	
	background: lightgrey;
	text-align: center;
	padding: 10px;
	font-size: 16px;
}

#cards-list-view {
	
	
}

.wazabi-card {
	
	width: 150px;
	height: 200px;
	border: 5px solid grey;
	margin-left: 20px;
	margin-top: 20px;
	float: left;
}

.wazabi-card > .card-cost {
	
	padding: 10px;
	background: lightgrey;
}

.wazabi-card > .card-title {
	
	padding: 10px;
	font-weight: bold;
	text-align:center;
}

.wazabi-card > .card-description {
	
	padding: 10px;
	font-style: italic;
}

#dices-list-view {
	
	margin-top:30px;
}

.wazabi-dice {
	
	height: 50px;
	width: 50px;
	background: lightgrey;
	border: 1px solid grey;
	border-radius: 3px;
	text-align: center;
	float: left;
	margin-left: 30px;
	font-size: 20px;
	padding-top: 10px;
	font-weight: bold;
}
