<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>WazabiBackend</display-name>
  <context-param>
    <param-name>version</param-name>
    <param-value>1.0</param-value>
  </context-param>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>index</servlet-name>
    <jsp-file>/WEB-INF/jsp/index.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>register</servlet-name>
    <jsp-file>/WEB-INF/jsp/register.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>error.main</servlet-name>
    <jsp-file>/WEB-INF/jsp/error/main.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>app.dashboard</servlet-name>
    <jsp-file>/WEB-INF/jsp/app/dashboard.jsp</jsp-file>
  </servlet>
  <servlet>
  	<servlet-name>app.scoreboard</servlet-name>
  	<jsp-file>/WEB-INF/jsp/app/scoreboard.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>app.game</servlet-name>
    <jsp-file>/WEB-INF/jsp/app/game.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>index</servlet-name>
    <url-pattern>/index.html</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/register.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>app.dashboard</servlet-name>
    <url-pattern>/app/dashboard.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>app.game</servlet-name>
    <url-pattern>/app/game.html</url-pattern>
  </servlet-mapping>
  <session-config>
    <cookie-config>
      <name>WAZABI_SESSION</name>
    </cookie-config>
    <tracking-mode>COOKIE</tracking-mode>
  </session-config>
  <jsp-config>
    <taglib>
      <taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>
      <taglib-location>/WEB-INF/tld/c.tld</taglib-location>
    </taglib>
    <jsp-property-group>
      <url-pattern>*.jspf</url-pattern>
    </jsp-property-group>
  </jsp-config>
</web-app>